.entry-list-pane {
	background-color: var(--color-base-20);
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}

.entry-list-pane h2 {
	display: flex;
	justify-content: space-between;
}

.entry-list-pane {
	display: flex;
	flex-direction: column;
}

.entry-list-pane colgroup .min {
	/* Hacky :( */
	width: 1%;
}
